.home {
	text-align: center;
	margin-top: 40vh;

	h1 {
		font-size: 3rem;
		color: rgb(105, 156, 197);
		font-weight: 600;
		margin-bottom: 6vh;
	}
	a {
		cursor: pointer;
		text-decoration-line: none;
		color: rgb(155, 161, 165);
		font-weight: 600;
		font-size: 1.125rem;
		&:last-child {
			margin-left: 80px;
		}
		&:hover {
			text-decoration-line: underline;
			color: rgb(108, 128, 142);
		}
	}
}
