.todo {
	width: 40%;
	margin: 0 auto;
	margin-top: 20vh;
	&__title {
		text-align: center;
		margin-bottom: 40px;
		font-size: 2rem;
		font-weight: 500;
		color: rgb(106, 117, 126);
	}

	&__input {
		display: flex;
		margin-bottom: 30px;
		& > input {
			flex: 1;
			padding: 12px;
			border: 1px solid rgb(216, 219, 222);
			border-radius: 10px;
			margin-right: 10px;
			outline: none;
			&:focus {
				border-color: rgb(147, 171, 190);
			}
		}
		& > button {
			cursor: pointer;
			width: 15%;
			background-color: rgb(237, 241, 245);
			border-radius: 10px;
			&:hover {
				background-color: rgb(221, 230, 240);
			}
		}
	}

	&__list {
		&-item {
			display: flex;
			align-items: center;
			padding: 18px 0;
			border-bottom: 1px solid rgb(237, 241, 245);
			& > label {
				display: flex;
				align-items: center;
				flex: 1;
				& > input {
					margin-right: 10px;
				}
				& > input:nth-child(2) {
					flex: 1;
					box-sizing: border-box;
					padding: 6px 12px;
					border: 1px solid rgb(214, 221, 228);
					border-radius: 5px;
					outline: none;
				}
			}
			& > button {
				cursor: pointer;
				width: 8%;
				border-radius: 10px;
				font-weight: 600;
				&:nth-child(2) {
					margin-right: 10px;
					color: rgb(159, 172, 185);
					&:hover {
						color: rgb(69, 129, 188);
					}
				}
				&:last-child {
					color: rgb(220, 93, 93);
					&:hover {
						color: rgb(214, 24, 24);
					}
				}
			}
		}
	}

	&__empty-todo {
		text-align: center;
		margin-top: 80px;
		color: rgb(173, 176, 179);
		font-weight: 600;
		font-size: 1.125rem;
	}
}
